.container {
  width: 85%; /* 기존의 너비 설정을 70%로 변경 */
}

.form-box {
  width: 85%; /* 기존의 너비 설정을 70%로 변경 */
}

.form-item-spacing {
  margin-bottom: 35px; /* 하단 마진으로 공간 추가 */
}

.inline-fields {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.wide-select {
  flex: 1; /* This will make the select option take as much space as possible */
}

.flex-item {
  flex: 1;
}

.inline-fields {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.flex-item {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 사이의 간격 설정 */
  margin-bottom: 20px; /* 아래쪽 여백 설정 */
}
